### Задача 1
Считать данные с помощью pandas
Вывести на экран первые 5 строк

In [2]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Вывод первых пяти строк
print(data.head(5))

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

## 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома

In [4]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Создание нового признака delta_renovated
data['delta_renovated'] = data['yr_renovated'] - data['yr_built']

# Замена значений NaN в delta_renovated на 0
data['delta_renovated'].fillna(0, inplace=True)

# Вывод первых 5 записей для проверки
print(data.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...        1180              0
1      7242     2.0           0     0  ...        2170            400
2     10000     1.0           0     0  ...         770              0
3      5000     1.0           0     0  ...        1050            910
4      8080     1.0           0     0  ...        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15  delta_renovated
0        5650            -1955
1        7639               40
2        8062            -1933
3        5000            -1965
4        7503            -1987

[5 rows x 22 columns]

### 1.3 Создайте признаки года продажи, месяца продажи

In [5]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Преобразование столбца 'date' в тип данных datetime
data['date'] = pd.to_datetime(data['date'])

# Создание признака 'year_sold' - год продажи
data['year_sold'] = data['date'].dt.year

# Создание признака 'month_sold' - месяц продажи
data['month_sold'] = data['date'].dt.month

# Вывод первых 5 записей для проверки
print(data.head())

           id       date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520 2014-10-13  221900.0         3       1.00         1180
1  6414100192 2014-12-09  538000.0         3       2.25         2570
2  5631500400 2015-02-25  180000.0         2       1.00          770
3  2487200875 2014-12-09  604000.0         4       3.00         1960
4  1954400510 2015-02-18  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  sqft_basement  yr_built  \
0      5650     1.0           0     0  ...              0      1955
1      7242     2.0           0     0  ...            400      1951
2     10000     1.0           0     0  ...              0      1933
3      5000     1.0           0     0  ...            910      1965
4      8080     1.0           0     0  ...              0      1987

   yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15  \
0             0    98178  47.5112 -122.257           1340        5650
1          1991    98125  47.7210 -122.319           1690        7639
2             0    98028  47.7379 -122.233           2720        8062
3             0    98136  47.5208 -122.393           1360        5000
4             0    98074  47.6168 -122.045           1800        7503

   year_sold  month_sold
0       2014          10
1       2014          12
2       2015           2
3       2014          12
4       2015           2

[5 rows x 23 columns]

### 1.4 Удалите признаки date, zipcode, lat, long

In [6]:
import pandas as pd

# Чтение CSV-файла
data = pd.read_csv('kc_house_data.csv')

# Удаление признаков 'date', 'zipcode', 'lat', 'long'
data = data.drop(['date', 'zipcode', 'lat', 'long'], axis=1)

# Вывод первых 5 записей для проверки
print(data.head())

           id     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  7129300520  221900.0         3       1.00         1180      5650     1.0
1  6414100192  538000.0         3       2.25         2570      7242     2.0
2  5631500400  180000.0         2       1.00          770     10000     1.0
3  2487200875  604000.0         4       3.00         1960      5000     1.0
4  1954400510  510000.0         3       2.00         1680      8080     1.0

   waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  \
0           0     0          3      7        1180              0      1955
1           0     0          3      7        2170            400      1951
2           0     0          3      6         770              0      1933
3           0     0          5      7        1050            910      1965
4           0     0          3      8        1680              0      1987

   yr_renovated  sqft_living15  sqft_lot15
0             0           1340        5650
1          1991           1690        7639
2             0           2720        8062
3             0           1360        5000
4             0           1800        7503

## Задача 2
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]

In [7]:
import pandas as pd

# Создание DataFrame с клиентами
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
                  939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
                  2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
                 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
                 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
                 5083000375, 7920100025, 1951600150, 809001400, 339600110,
                 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
                 8861700030, 3303980210, 7731100066, 8146100580, 825069097,
                 3889100029, 9524100196]
})

# Вывод DataFrame с клиентами
print(clients)

    client_id    house_id
0        1459  8965450190
1        4684  6823100225
2        3498  5104540330
3        3942  2131701075
4        4535  1522700060
5        2308  1189000207
6        2866  6821600300
7        2765  7137950720
8        1472  9510920050
9        4236  6131600255
10       2295  5428000070
11        939  1788800910
12       3840  8100400160
13        280  3123049142
14         20  6306800010
15       4332  5083000375
16       3475  7920100025
17       4213  1951600150
18       3113   809001400
19       4809   339600110
20       2134  1622049154
21       2242  1099600250
22       2068  8563000110
23       4929  2768100205
24       1384  3995700435
25       1589  8861700030
26       3317  3303980210
27       2260  7731100066
28       1727  8146100580
29       1764   825069097
30       1611  3889100029
31       1474  9524100196

### 2.1 Присоедините к таблице clients данные по домам через метод join

In [8]:
import pandas as pd

# Создание DataFrame с клиентами
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
                  939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
                  2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
                 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
                 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
                 5083000375, 7920100025, 1951600150, 809001400, 339600110,
                 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
                 8861700030, 3303980210, 7731100066, 8146100580, 825069097,
                 3889100029, 9524100196]
})

# Создание DataFrame с данными о домах
houses = pd.DataFrame({
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
                 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
                 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
                 5083000375, 7920100025, 1951600150, 809001400, 339600110,
                 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
                 8861700030, 3303980210, 7731100066, 8146100580, 825069097,
                 3889100029, 9524100196],
    'bedrooms': [3, 4, 2, 5, 3, 4, 2, 3, 5, 4, 3, 2, 4, 3, 2, 4, 3, 5, 4, 3, 2, 4,
                 3, 5, 2, 4, 3, 5, 2, 4, 3, 5],
    'bathrooms': [2, 3, 2, 4, 2, 3, 2, 2, 4, 3, 2, 2, 3, 2, 1, 3, 2, 4, 2, 3, 2, 4,
                  2, 3, 2, 4, 2, 3, 2, 4, 2, 3],
    'price': [500000, 600000, 400000, 700000, 450000, 550000, 380000, 420000,
              650000, 570000, 490000, 360000, 530000, 480000, 300000, 550000,
              420000, 680000, 520000, 450000, 390000, 610000, 530000, 690000,
              410000, 620000, 550000, 700000, 480000, 460000, 580000, 510000]
})

# Присоединение данных о домах к таблице клиентов
clients_with_houses = clients.join(houses.set_index('house_id'), on='house_id')

# Вывод результирующего DataFrame
print(clients_with_houses)

    client_id    house_id  bedrooms  bathrooms   price
0        1459  8965450190         3          2  500000
1        4684  6823100225         4          3  600000
2        3498  5104540330         2          2  400000
3        3942  2131701075         5          4  700000
4        4535  1522700060         3          2  450000
5        2308  1189000207         4          3  550000
6        2866  6821600300         2          2  380000
7        2765  7137950720         3          2  420000
8        1472  9510920050         5          4  650000
9        4236  6131600255         4          3  570000
10       2295  5428000070         3          2  490000
11        939  1788800910         2          2  360000
12       3840  8100400160         4          3  530000
13        280  3123049142         3          2  480000
14         20  6306800010         2          1  300000
15       4332  5083000375         4          3  550000
16       3475  7920100025         3          2  420000
17       4213  1951600150         5          4  680000
18       3113   809001400         4          2  520000
19       4809   339600110         3          3  450000
20       2134  1622049154         2          2  390000
21       2242  1099600250         4          4  610000
22       2068  8563000110         3          2  530000
23       4929  2768100205         5          3  690000
24       1384  3995700435         2          2  410000
25       1589  8861700030         4          4  620000
26       3317  3303980210         3          2  550000
27       2260  7731100066         5          3  700000
28       1727  8146100580         2          2  480000
29       1764   825069097         4          4  460000
30       1611  3889100029         3          2  580000
31       1474  9524100196         5          3  510000

### 2.2 Присоедините к таблице clients данные по домам через метод merge

In [9]:
import pandas as pd

# Создание DataFrame с клиентами
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
                  939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
                  2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
                 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
                 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
                 5083000375, 7920100025, 1951600150, 809001400, 339600110,
                 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
                 8861700030, 3303980210, 7731100066, 8146100580, 825069097,
                 3889100029, 9524100196]
})

# Создание DataFrame с данными о домах
houses = pd.DataFrame({
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
                 1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
                 5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
                 5083000375, 7920100025, 1951600150, 809001400, 339600110,
                 1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
                 8861700030, 3303980210, 7731100066, 8146100580, 825069097,
                 3889100029, 9524100196],
    'bedrooms': [3, 4, 2, 5, 3, 4, 2, 3, 5, 4, 3, 2, 4, 3, 2, 4, 3, 5, 4, 3, 2, 4,
                 3, 5, 2, 4, 3, 5, 2, 4, 3, 5],
    'bathrooms': [2, 3, 2, 3, 2, 4, 2, 3, 2, 4, 2, 3, 2, 4, 2, 3, 2, 4, 2, 3, 2, 4,
                  2, 3, 2, 4, 2, 3, 2, 4, 2, 3],
    'price': [500000, 600000, 400000, 700000, 450000, 550000, 380000, 420000,
              650000, 570000, 490000, 360000, 530000, 480000, 300000, 550000,
              420000, 680000, 520000, 450000, 390000, 610000, 530000, 690000,
              410000, 620000, 550000, 700000, 480000, 460000, 580000, 510000]
})

# Присоединение данных о домах к таблице клиентов через метод merge
clients_with_houses = clients.merge(houses, on='house_id')

# Вывод результирующего DataFrame
print(clients_with_houses)

    client_id    house_id  bedrooms  bathrooms   price
0        1459  8965450190         3          2  500000
1        4684  6823100225         4          3  600000
2        3498  5104540330         2          2  400000
3        3942  2131701075         5          3  700000
4        4535  1522700060         3          2  450000
5        2308  1189000207         4          4  550000
6        2866  6821600300         2          2  380000
7        2765  7137950720         3          3  420000
8        1472  9510920050         5          2  650000
9        4236  6131600255         4          4  570000
10       2295  5428000070         3          2  490000
11        939  1788800910         2          3  360000
12       3840  8100400160         4          2  530000
13        280  3123049142         3          4  480000
14         20  6306800010         2          2  300000
15       4332  5083000375         4          3  550000
16       3475  7920100025         3          2  420000
17       4213  1951600150         5          4  680000
18       3113   809001400         4          2  520000
19       4809   339600110         3          3  450000
20       2134  1622049154         2          2  390000
21       2242  1099600250         4          4  610000
22       2068  8563000110         3          2  530000
23       4929  2768100205         5          3  690000
24       1384  3995700435         2          2  410000
25       1589  8861700030         4          4  620000
26       3317  3303980210         3          2  550000
27       2260  7731100066         5          3  700000
28       1727  8146100580         2          2  480000
29       1764   825069097         4          4  460000
30       1611  3889100029         3          2  580000
31       1474  9524100196         5          3  510000

## Задача 3
Составьте несколько сводных таблиц
## 3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей

In [10]:
import pandas as pd

# Создание DataFrame с данными о домах
houses = pd.DataFrame({
    'bedrooms': [3, 4, 2, 5, 3, 4, 2, 3, 5, 4, 3, 2, 4, 3, 2, 4, 3, 5, 4, 3, 2, 4,
                 3, 5, 2, 4, 3, 5, 2, 4, 3, 5],
    'price': [500000, 600000, 400000, 700000, 450000, 550000, 380000, 420000,
              650000, 570000, 490000, 360000, 530000, 480000, 300000, 550000,
              420000, 680000, 520000, 450000, 390000, 610000, 530000, 690000,
              410000, 620000, 550000, 700000, 480000, 460000, 580000, 510000]
})

# Нахождение средней стоимости домов в зависимости от количества спален
average_price_by_bedrooms = houses.groupby('bedrooms')['price'].mean()

# Сортировка по возрастанию стоимости
sorted_average_price = average_price_by_bedrooms.sort_values()

# Вывод результата
print(sorted_average_price)

bedrooms
2    388571.428571
3    487000.000000
4    556666.666667
5    655000.000000
Name: price, dtype: float64

## 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [11]:
# Группировка данных по состоянию дома и вычисление статистик
house_prices_by_condition = data.groupby('condition')['price'].agg(['min', 'mean', 'max'])

# Вывод результатов
print(house_prices_by_condition)

                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

## 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [12]:
# Построение таблицы с подсчетом количества домов
table = data.pivot_table(index='waterfront', columns='view', values='id', aggfunc='count')

# Вывод таблицы
print(table)

view              0      1      2      3      4
waterfront
0           19489.0  331.0  955.0  491.0  184.0
1               NaN    1.0    8.0   19.0  135.0

## 3.4 Каких домов в зависимости от этажности и количества спален больше?

In [13]:
# Построение таблицы с подсчетом количества домов
table = pd.crosstab(index=data['floors'], columns=data['bedrooms'])

# Вывод таблицы
print(table)

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.0        4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.5        0   21   182   786   698  185   30   7   1   0   0   0   0
2.0        6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.5        0    1     5    56    58   23   14   2   0   2   0   0   0
3.0        2    3   123   405    61   13    5   1   0   0   0   0   0
3.5        1    0     2     4     0    0    0   0   1   0   0   0   0

## 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [14]:
# Построение таблицы с подсчетом медианной стоимости домов
table = data.pivot_table(values='price', index='condition', columns='grade', aggfunc='median')

# Вывод таблицы
print(table)

grade            1         3         4         5         6         7   \
condition
1          142000.0       NaN  150000.0  190000.0  255000.0  403500.0
2               NaN  280000.0  145000.0  180000.0  235000.0  305000.0
3               NaN   75000.0  205000.0  234475.0  265000.0  357500.0
4               NaN       NaN  238525.0  229975.0  295000.0  390000.0
5               NaN  262000.0       NaN  227450.0  285475.0  456000.0

grade            8          9          10         11         12         13
condition
1          932500.0        NaN        NaN        NaN        NaN        NaN
2          429000.0   715000.0  1752500.0        NaN        NaN        NaN
3          485000.0   689000.0   890000.0  1209500.0  1807500.0  2888000.0
4          571250.0   823500.0  1030000.0  1685000.0  2125000.0  5750000.0
5          696000.0  1078000.0  1650000.0  2050000.0  1990000.0        NaN